/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Everything above is a CSS Reset */

.topofpage {
    margin: 10px auto;
}


  body {
      background: url('../deceiverspics/molethumb.jpg') no-repeat -190px -52px, url('../deceiverspics/molethumb.jpg') right 1700px no-repeat, linear-gradient(to right bottom, black 50%, rgb(154, 255, 176));
  }


.center-screen {
    margin: 0 auto;
    
    width: 50%;
    height: 160px;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    border: 3px double rgba(0, 0, 0, 0.507);
    letter-spacing: 5px;
    font-weight: 900;
    text-shadow: 2px 2px 2px rgb(110, 110, 110);
  animation: rainanime3 4.5s infinite;
}

@keyframes rainanime3 {
  0% {background: linear-gradient(rgb(31, 220, 31),  rgb(119, 159, 118));}
  25% {background: linear-gradient(rgb(33, 222, 31), rgb(119, 159, 118));}
  60% {background: linear-gradient(rgb(35, 225, 31), rgb(119, 159, 118));}
  75% {background: linear-gradient(rgb(255, 0, 0), rgb(119, 165, 118));}
  77% {background: linear-gradient(rgb(34, 216, 31),rgb(116, 158, 115));}
  91% {background: linear-gradient(rgb(34, 216, 31),rgb(116, 158, 115));}
  100% {background: linear-gradient(rgb(34, 216, 31),rgb(116, 158, 115));}
}

 .headingtry {
    font-family:'Aldrich', sans-serif, 'Bungee', cursive;
    font-weight: 100;
    font-size: 30px;
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 26px;
    padding-top: 12px;
  }

 .smallerheadingbox p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Aldrich', sans-serif, 'Bungee', cursive;
    letter-spacing: 5px;
  }

  .smallerheadingbox {
    background: linear-gradient( rgb(9, 255, 0), rgb(18, 255, 156));
    width: 50%;
    margin: 0 auto;
  }

.center-screen p {
    margin-bottom: -30px;
}

.musicbox {
    width: 50px;
    height: 50px;
    margin
    padding: 10px 10px 0 0;
    float: right;
    overflow: hidden;
}

.musicbox p {
    color: white;
    text-indent: 0px;
    font-size: 18px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
    text-shadow: 2px 2px 2px black;
    width: 200px;

}




.maincontent {
    width: 70%;
    background: linear-gradient(to right bottom, grey, rgb(66, 66, 66)));
    margin: 15px auto;
    border: grey;
    box-shadow: 0 4px 8px 0 rgb(4, 156, 42), 0 6px 20px 0 rgb(156, 156, 156);
    padding: 20px;
}


.maincontent h1 {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 34px;
    text-indent: 10px;
    color:rgb(255, 255, 255);
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(0, 168, 28); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 5.5s steps(40, end),
          blink-caret .7s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(0, 224, 37); }
      }


.maincontent p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 10px;
    color: white;
    text-shadow: /* first layer at 1px */
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000,
    /* second layer at 2px */
    -2px -2px 0px #000,
    -1px -2px 0px #000,
     0px -2px 0px #000,
     1px -2px 0px #000,
     2px -2px 0px #000,
     2px -1px 0px #000,
     2px  0px 0px #000,
     2px  1px 0px #000,
     2px  2px 0px #000,
     1px  2px 0px #000,
     0px  2px 0px #000,
    -1px  2px 0px #000,
    -2px  2px 0px #000,
    -2px  1px 0px #000,
    -2px  0px 0px #000,
    -2px -1px 0px #000;
}

.paragraph1 img {
    height: 340px;
    width: 650px;
    margin: 0 auto 10px auto;
    padding-bottom: 30px;
}

.paragraph1 p {

}


.thumbnail2 {
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  
  .thumbnail2 img {
    height: 106px;
    width: 106px;
    border-radius: 50%;
    border: 2.5px double rgb(99, 99, 99);
    display: inline-block;
    margin-right: 9px;
    margin-top: 5px;
  }

  .fling-minislide {width:350px; height:300px; overflow:hidden; position:relative; }
  .fling-minislide img{ position:absolute; animation:fling-minislide 42s infinite; opacity:0; width: 100%; height: auto;}
  
  @keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
  .fling-minislide img:nth-child(8){animation-delay:0s;}
  .fling-minislide img:nth-child(7){animation-delay:5s;}
  .fling-minislide img:nth-child(6){animation-delay:11s;}
  .fling-minislide img:nth-child(5){animation-delay:16s;}
  .fling-minislide img:nth-child(4){animation-delay:20s;}
  .fling-minislide img:nth-child(3){animation-delay:25s;}
  .fling-minislide img:nth-child(2){animation-delay:30s;}
  .fling-minislide img:nth-child(1){animation-delay:35s;}

img[src="deceiverspics\castlesiege2.png"] {
    height: 500px;
}

img[src="deceiverspics\darkpitoutlook.jpg"] {
  height: 500px;
}

.fling-minislide img {
    width: 500px;
    height: 270px;
    margin: 0 auto;
}

.fling-minislide {
    margin: 30px auto 10px auto;
    width: 500px
}

.thumbnail2 h1 {
    text-align: center;
    color:rgb(129, 190, 129);
    padding-bottom: 30px;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: /* first layer at 1px */
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px rgb(255, 0, 0),
    -1px  0px 0px #000,
     1px  0px 0px rgb(177, 1, 1),
    -1px  1px 0px #000,
     0px  1px 0px rgb(173, 0, 0),
     1px  1px 0px #000,
    /* second layer at 2px */
    -2px -2px 0px #000,
    -1px -2px 0px rgb(172, 2, 2),
     0px -2px 0px #000,
     1px -2px 0px rgb(156, 5, 5),
     2px -2px 0px #000,
     2px -1px 0px rgb(170, 6, 6),
     2px  0px 0px #000,
     2px  1px 0px #000,
     2px  2px 2px rgb(190, 14, 14),
     1px  2px 0px #000,
     0px  2px 0px #000,
    -1px  2px 2px rgb(139, 14, 14),
    -2px  2px 0px #000,
    -2px  1px 0px rgb(114, 15, 15),
    -2px  0px 0px #000,
    -2px -1px 3px rgb(255, 2, 2);
    
}

/*Buttons at the Bottom of the Page*/

.buttonstyle {
    padding: 12px;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(0, 105, 0);
    margin-right: 16px;
    border-radius: 2px;
}

.buttonstyle:hover {
    background-color: rgb(175, 2, 2);
}

.buttons a {
    color: black;
    text-decoration: none;
}

.linkbutton {
    font-size: 28px;
    margin-bottom: 60px;
}

.linkbutton2 {
  font-size: 24px;
  border: 2px solid rgb(212, 212, 212);

}

.buttons a:hover {
    color: rgb(245, 116, 116);
}

.buttons a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.buttons {
    text-align: center;
    margin-top: 70px;

}




footer {
    width: 70%;
    height: 100px;
    margin-top: 70px;
    background: linear-gradient(green, rgb(5, 179, 28));
    padding: 15px;
    margin-bottom: 15px;
}

footer p:first-child {
    color: white;
}

.thumbnail2 img:hover {
    filter: drop-shadow(4px 4px 25px rgb(247, 6, 6));
}

.kazooiehover:hover {
    transform: scaleX(-1);
}


.moleaustra {
  border: 2px double green;
  padding: 4px;
  margin-top: -10px;

}
